<div class="_3HwNwq2H1k5pRDdbAr1LJP header_banner">
  <div class="_3QGExTshWJ53K_WZIr05vm banner-left">
    <div class="_9mJU0WMvJKiO0r8w5UoBV">
      {{> logo/main }}
    </div>
    {{> nav/main}}
  </div>
  <div class="thwvGmgowNT6nkVDOAvTm banner-right">
    <div class="_2MjYJ2tV3yxCafSfpYZVqW _1sz0fnuNjkUbhvxxKUnEXM">
      <form method="get" action="" class="ignore-search-onclickoutside">
        <label for="searchTerm"><span>行情、资讯</span></label>
        <input type="text" id="searchTerm" name="s" value="" autocomplete="off">
        <button type="submit">
          <span class="icon">
            <svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><g stroke-width="1.5" stroke="#A4A4A4" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"><path d="M17.53704 17.53704L12.6765257 12.6765257M14.8750457 7.45714286C14.8750457 11.4336 11.6026457 14.6571429 7.56601714 14.6571429 3.52938857 14.6571429.256988571 11.4336.256988571 7.45714286.256988571 3.48068571 3.52938857.257142857 7.56601714.257142857 11.6026457.257142857 14.8750457 3.48068571 14.8750457 7.45714286z" transform="translate(1 1)"></path></g></svg>
          </span>
        </button>
      </form>
    </div>
    <div class="_2MjYJ2tV3yxCafSfpYZVqW _1GjWtKFNOTItds2VU82-5V">
      <div class="drop-down user_links">
        <a href="">
          <span class="icon">
            <svg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"><g fill="#DBDBDD" fill-rule="evenodd"><path d="M21.3681593 7.99446978C21.3681593 11.1304313 18.825522 13.6730687 15.6895604 13.6730687 12.5535989 13.6730687 10.0109615 11.1304313 10.0109615 7.99446978 10.0109615 4.85850824 12.5535989 2.31587088 15.6895604 2.31587088 18.825522 2.31587088 21.3681593 4.85850824 21.3681593 7.99446978zM26.7472527 28.5482692L26.7472527 23.5824176C26.7472527 19.4120879 23.3351648 16 19.1648352 16L11.5824176 16C7.41208791 16 4 19.4120879 4 23.5824176L4 28.5482692 26.7472527 28.5482692z"></path></g></svg>
          </span>
        </a>
        <div class="drop-down-body">
          <ul>
            <li>
              <a href="">
                <span>登录</span>
              </a>
            </li>
            <li>
              <a href="">
                <span>注册</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="_2MjYJ2tV3yxCafSfpYZVqW _1Vim0u7bP-G-8X4ka0WKBP">
      <div class="_1ly-WvfxggvdKjRMPpegxP nav_lang">
        <a class="Us7b6NhHCha_4_8W2qcCa" href="javascript:;">
          <span>简体中文</span>
          <span class="icon _2wG1CHvPnrbCf2Nx2vw06Q">
            <svg viewBox="0 0 8 5" xmlns="http://www.w3.org/2000/svg"><path transform="matrix(1 0 0 -1 -54 12)" d="M57.75 7L61.5 12 54 12z" fill="#A4A4A4" fill-rule="evenodd"></path></svg>
          </span>
        </a>
        <ul class="_3wyQsT8mQFMd0bqLD_3mmM nav_list_lang">
          <li><a class="_3tGvT3h3ukZmJH29e0wGhE" href=""><span>English</span></a></li>
          <li><a class="_3tGvT3h3ukZmJH29e0wGhE" href=""><span>繁體中文</span></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>