<div class="tabs">
  <div class="tab">行情</div>
  <div class="tab selected">资讯<span class="count">99+</span></div>
  <span class="search-result">
    <span>为您找到 <span class="red">0</span> 个行情，<span class="red">7664</span> 篇资讯</span>
  </span>
</div>