<div class="search-box">
  <form method="get" action="">
    <input type="text" value="区间盈利">
    <button type="submit">
      <svg width="18" height="18" viewBox="0 0 17 17"><g transform="translate(1 1)" stroke="currentColor" stroke-width="1.333" fill="none" fill-rule="evenodd"><circle cx="6.667" cy="6.667" r="6.667"></circle><path d="M11.934 11.934l2.8128 2.8128" stroke-linecap="round"></path></g></svg>
    </button>
  </form>
</div>
