{{#> layouts/default title="Arbitrum上新项目Pacman：融合veToken经济学的去中心化杠杆挖矿协议 | 淘牛" }}

{{#*inline "content-block"}}
<div class="_3aA57c0dJpLuk8fQ8l4Xxb">
  <div class="_3HwNwq2H1k5pRDdbAr1LJP clearfix">
    <div class="_2DUpoweOnVejZiYampapRx clearfix">
      <div class="content-left">
        {{> sections/articles/detail/content }}
        {{> sections/articles/detail/comment }}
      </div>
      <div class="content-right">
        {{> sections/articles/detail/writer }}
        {{> sections/articles/detail/related }}
        {{> sections/articles/detail/weekly_hot }}
      </div>
    </div>
  </div>
</div>
{{/inline}}

{{#*inline "head-block"}}
<link rel="stylesheet" href="/static/css/articles/detail.css">
{{/inline}}

{{#*inline "scripts-block"}}
<script src=""></script>
{{/inline}}

{{/layouts/default}}