<div id="_3yOWW6PdwffZ1fZzIccYGx">
  <div class="_2CVsIiK6fA1V-UvFH9kWDa">
    <ul class="_3HwNwq2H1k5pRDdbAr1LJP">
      <li>
        <a href="">
          <span>服务条款</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="_3HwNwq2H1k5pRDdbAr1LJP">
    <div class="_2YopaxXnYu68D1VdVQh0Gw">
      <span class="_3nvp8RjK5pnSaAvcVl8sF_">
        Copyright ©2023 All Rights Reserved.
      </span>
      <span>
        <a class="_3nvp8RjK5pnSaAvcVl8sF_" href="" rel="nofollow noopener" target="_blank">Cookie policy</a>
      </span>
      <div class="_3ctuGCyEXnuKTS_0qXVJTq">
        <a class="_1QvqVQP83GDbZ7zyAiDzeB" href="">
          <span>简体中文</span>
          <span class="icon RIYe1rxEJAHTJC5ApEAk2">
            <svg viewBox="0 0 8 5" xmlns="http://www.w3.org/2000/svg"><path transform="matrix(1 0 0 -1 -54 12)" d="M57.75 7L61.5 12 54 12z" fill="#A4A4A4" fill-rule="evenodd"></path></svg>
          </span>
        </a>
        <ul class="_3RyEe6Y0IszML0xF6RWz69">
          <li>
            <a class="_2t98HlmxZl2ECCqjKdzd3u" href="">
              <span>English</span>
            </a>
          </li>
          <li>
            <a class="_2t98HlmxZl2ECCqjKdzd3u" href="">
              <span>繁體中文</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="_3Iowhu0gzQ_T0_J0duv7Lv" style="bottom: 37px; position: fixed;">
  <ul>
    <li>
      <a title="意见反馈">
        <span class="icon icon-feedback">
          <svg viewBox="0 0 40 36" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path fill="#5D5D5D" opacity=".8" d="M0 0H40V36H0z"></path><g stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="round" opacity=".9" stroke-linejoin="round"><path d="M18.05 10.0882844L18.05 19 0 19 0 0.95 0 0.95 10.0239995 0.95" transform="translate(11 8)"></path><path transform="rotate(-45 27.032 -1.678)" d="M5.66283852 5.7L19.95 5.7 19.95 9.5 5.66283852 9.5 3.8 7.6z"></path></g></g></svg></span></a></li><li><a title="返回顶部"><span class="icon icon-back-to-top"><svg viewBox="0 0 40 36" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path fill="#5D5D5D" opacity=".8" d="M0 0H40V36H0z"></path><path stroke="#FFFFFF" stroke-width="1.5" opacity=".9" stroke-linecap="round" stroke-linejoin="round" transform="scale(1 -1) rotate(-45 -33.113 0)" d="M26 28L14 28 14 16"></path></g></svg></span></a></li><li><a class="close-bar"><span class="icon icon-close"><svg viewBox="0 0 9 9" xmlns="http://www.w3.org/2000/svg"><g stroke="#E9EAEA" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="square"><path d="M0.428571429,5.57142857 L5.88339517,0.116604831" transform="translate(1 2)"></path><path d="M0.428571429,5.57142857 L5.88339517,0.116604831" transform="matrix(-1 0 0 1 7.312 2)"></path></g></svg>
        </span>
      </a>
    </li>
  </ul>
</div>