<div class="xare1qu6w8DPLhPkjTmRD">
  <span class="_2RBe6N5afA-kdaw0a45jKy">
    <span>妙笔生花 激扬文字</span></span>
    <div class="_3EFFHTlf1IKH2YZxcQ89uU">
      <span class="rdCiEso12VMzWckuuAc0S">
        <span>入驻AICoin</span>
      </span>
      <button style="width:56px;height:22px;font-size:12px;border-radius:100px;" class="zYyzgQGsB13aZPGf82gOL _3_Ozh1xIkutWoTIuxPhs4N">
        <span>去登录</span>
      </button>
  </div>
</div>