<ul role="tablist" class="nav">
  <li role="presentation" class="active"><a action="push" id="news_tabs-tab-undefined" role="tab"
                                            aria-controls="news_tabs-pane-undefined" tabindex="-1" href=""
                                            aria-selected="true">精选</a></li>
  <li role="presentation" class=""><a action="push" id="news_tabs-tab-undefined" role="tab"
                                      aria-controls="news_tabs-pane-undefined" tabindex="-1"
                                      href=""
                                      aria-selected="false">直播回顾</a></li>
  <li role="presentation" class=""><a action="push" id="news_tabs-tab-undefined" role="tab"
                                      aria-controls="news_tabs-pane-undefined" tabindex="-1"
                                      href=""
                                      aria-selected="false">🔥上海升级</a></li>
  <li role="presentation" class=""><a action="push" id="news_tabs-tab-undefined" role="tab"
                                      aria-controls="news_tabs-pane-undefined" tabindex="-1"
                                      href="" aria-selected="false">分析</a>
  </li>
  <li role="presentation" class=""><a action="push" id="news_tabs-tab-undefined" role="tab"
                                      aria-controls="news_tabs-pane-undefined" tabindex="-1" href=""
                                      aria-selected="false">Web3.0</a></li>
  <li role="presentation" class=""><a action="push" id="news_tabs-tab-undefined" role="tab"
                                      aria-controls="news_tabs-pane-undefined" tabindex="-1" href=""
                                      aria-selected="false">元宇宙</a></li>
  <li role="presentation" class=""><a action="push" id="news_tabs-tab-undefined" role="tab"
                                      aria-controls="news_tabs-pane-undefined" tabindex="-1" href=""
                                      aria-selected="false">科普</a></li>
  <li role="presentation" class=""><a action="push" id="news_tabs-tab-undefined" role="tab"
                                      aria-controls="news_tabs-pane-undefined" tabindex="-1"
                                      href=""
                                      aria-selected="false">行业报告</a></li>
  <li class="dropdown"><a aria-controls="news_tabs-pane-NavDropdown" tabindex="-1" id="news_tabs-tab-NavDropdown"
                          role="button" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false"
                          href=""><span> 更多</span> <span
      class="caret"></span></a>
    <ul role="menu" class="dropdown-menu" aria-labelledby="news_tabs-tab-NavDropdown">
      <li role="presentation" class=""><a action="push"
                                          href="">AI号</a></li>
      <li role="presentation" class=""><a action="push"
                                          href="">中文媒体</a></li>
      <li role="presentation" class=""><a action="push"
                                          href="">教程</a></li>
      <li role="presentation" class=""><a action="push"
                                          href="">行情上新</a></li>
      <li role="presentation" class=""><a action="push"
                                          href="">英文媒体</a></li>
    </ul>
  </li>
</ul>