<div class="section">
  <div class="section-header">
    <div class="section-header-wrap"><h2><span>头条资讯</span></h2>
      <div class="section-header-right">2023-4-19 星期三</div>
    </div>
  </div>
  <div class="section-body">
    <ul class="top-list">
      <li>
        <span class="icon icon-list">
          <svg viewBox="0 0 13 20" xmlns="http://www.w3.org/2000/svg"><path d="M10.824 2.912L7.848 2.912 3.96 5.696 3.288 9.128 7.176 6.32 4.44 20 7.416 20z" transform="translate(0 -1)" fill="#F54242" fill-rule="evenodd"></path></svg>
        </span>
        <h3><a href="" rel="noopener">季入7亿美金，一文揭秘Tether的稳定币生意经</a></h3>
        <p>稳定币赛道可能是除交易所外最赚钱的行业。</p></li>
      <li><span class="icon icon-list"><svg viewBox="0 0 13 20" xmlns="http://www.w3.org/2000/svg"><path
          d="M12.456,7.016 C12.456,4.304 10.8,2.768 8.136,2.768 C5.016,2.768 2.928,4.4 2.352,7.664 L5.352,7.664 C5.736,6.008 6.744,5.432 7.824,5.432 C8.856,5.432 9.456,6.056 9.456,7.16 C9.456,8.192 9,8.816 8.016,9.824 L0.624,17.336 L0.072,20 L10.152,20 L10.704,17.336 L4.416,17.336 L9.888,11.744 C10.872,10.736 12.456,9.344 12.456,7.016 Z"
          transform="translate(0 -1)" fill="#F54242" fill-rule="evenodd"></path></svg></span>
        <h3><a href="" rel="noopener">ZK二层网络Scroll调研：为何备受以太坊社区关...</a></h3>
        <span class="list-foot">[&nbsp;中文媒体]</span></li>
      <li><span class="icon icon-list"><svg viewBox="0 0 13 20" xmlns="http://www.w3.org/2000/svg"><path
          d="M12.264,6.824 C12.264,4.544 10.632,2.768 8.088,2.768 C5.088,2.768 2.976,4.28 2.232,7.52 L5.232,7.52 C5.568,6.152 6.624,5.432 7.68,5.432 C8.64,5.432 9.288,6.056 9.288,7.16 C9.288,8.552 8.232,9.968 6.792,9.968 L6.312,9.968 L5.808,12.56 L6.264,12.56 C7.56,12.56 8.184,13.304 8.184,14.432 C8.184,16.04 7.032,17.48 5.52,17.48 C4.224,17.48 3.6,16.712 3.6,15.752 C3.6,15.512 3.624,15.416 3.648,15.224 L0.72,15.224 C0.672,15.536 0.648,15.776 0.648,16.088 C0.648,18.536 2.496,20.144 5.496,20.144 C8.688,20.144 11.16,17.576 11.16,14.312 C11.16,12.728 10.704,11.864 9.648,11.264 C11.496,10.328 12.264,8.624 12.264,6.824 Z"
          transform="translate(0 -1)" fill="#F54242" fill-rule="evenodd"></path></svg></span>
        <h3><a href="" rel="noopener">今晚8点，官方直播：K线复盘之KDJ交易策略（...</a></h3><span class="list-foot">[&nbsp;
          AI号&nbsp;]
          </span></li>
      <li><span class="icon icon-list"><svg viewBox="0 0 13 20" xmlns="http://www.w3.org/2000/svg"><text
          transform="translate(0 -1)" fill="#999999" fill-rule="evenodd" font-weight="bold" font-family="DIN-BoldItalic"
          font-style="italic" font-size="18"><tspan x="2" y="19">4</tspan></text></svg></span>
        <h3><a href="" rel="noopener">关于虚假项目盗用 AICoin 品牌的严正声明</a></h3><span class="list-foot">[&nbsp;
          AI号&nbsp;]
          </span></li>
      <li><span class="icon icon-list"><svg viewBox="0 0 13 20" xmlns="http://www.w3.org/2000/svg"><text
          transform="translate(0 -1)" fill="#999999" fill-rule="evenodd" font-weight="bold" font-family="DIN-BoldItalic"
          font-style="italic" font-size="18"><tspan x="2" y="19">5</tspan></text></svg></span>
        <h3><a href="" rel="noopener">IDO&amp;IEO：盘点即将上线的8个热门项目（4月...</a></h3><span
            class="list-foot">[&nbsp;新闻聚焦
          &nbsp;]</span></li>
      <li><span class="icon icon-list"><svg viewBox="0 0 13 20" xmlns="http://www.w3.org/2000/svg"><text
          transform="translate(0 -187)" fill="#999999" fill-rule="evenodd" font-weight="bold"
          font-family="DIN-BoldItalic" font-style="italic" font-size="18"><tspan x="2"
                                                                                 y="205">6</tspan></text></svg></span>
        <h3><a href="" rel="noopener">盘点下轮牛市中值得关注的5个Web3游戏项目</a></h3><span class="list-foot">[&nbsp;
          中文媒体&nbsp;]
          </span></li>
    </ul>
  </div>
</div>