<!doctype html>
<html>
  <head>
    {{>includes/head}}
  </head>
  <body>
    <div id="content">
      <div class="_2XpJ8sf4e1zZJmGJr_Q2rQ">
        <div class="_1xxmMLY9lnqS33XUJVvwSu QbjRgJrYfb2zFcgBgcx0Q animate-in">
          <div id="nprogress-container" class="header-container">
            {{>banners/main}}
          </div>
        </div>
        {{#>content-block}}{{/content-block}}
        <footer id="footer_wrap">
          {{>includes/footer}}
        </footer>
      </div>
    </div>
    {{#>scripts-block}}{{/scripts-block}}
  </body>
</html>